<form method="post">
    <label for="#manager-add-exp-level">Experience level</label>
    <input type="text"  name="experience-level" id="#manager-add-exp-level">
    <input type="submit" value="Submit">
</form>