<form method="post">
    <label for="#manager-add-exp-level">Experience level {{ next_level }}</label>
    <input type="number"  name="experience-level" id="#manager-add-exp-level" min="{{ next_level_min_value }}">
    <input type="submit" value="Submit">
</form>