<form method="post">
    <label for="#manager-add-exp-level">Experience level</label>
    <input type="number"  name="experience-level" id="#manager-add-exp-level" required min="0">
    <input type="submit" value="Submit">
</form>