<div class="options">
    <div class="option">
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        <a href="/manager/add_mentor">Add mentor</a>
    </div>
    <div class="option">
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        <a href="/manager/edit_mentor">Edit mentor</a>
    </div>
    <div class="option">
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        <a href="/manager/show_mentors_class">Show mentor class</a>
    </div>
</div>
