<div class="options">
    <div class="option">
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        <a href="/manager/show_levels">Show all levels</a>
    </div>
    <div class="option">
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        <a href="/manager/create_new_level">Create new level</a>
    </div>
    <div class="option">
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        <a href="/manager/update_level">Update level</a>
    </div>
</div>