<li><a href="/manager">Home</a></li>
<li><a href="/manager/mentors">Mentors</a></li>
<li><a href="/manager/create_class">Create class</a></li>
<li><a href="/manager/experience_levels">Experience levels manager</a></li>
