<div class="options">
    <div class="option">
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        <a href="{{ entry }}">Add mentor</a>
    </div>
    <div class="option">
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        <a href="{{ entry }}">Edit mentor</a>
    </div>
    <div class="option">
        <i class="fa fa-user fa-3x" aria-hidden="true"></i>
        <a href="{{ entry }}">Show mentor class</a>
    </div>
</div>
