<form method="post">
    <label for="#manager-add-class-label">Class name</label>
    <input type="text" name="classname" id="#manager-add-class-label" required>
    <input type="submit" value="Submit">
</form>