<form method="post">
    <label for="#mentor-add-quest-category-name">Quest category name</label>
    <input type="text" name="quest-category-name" id="#mentor-add-quest-category-name">
    <input type="submit" value="Submit">
</form>