<form method="post">
    <label for="#mentor-add-artifact-name">Name</label>
    <input type="text" name="name" id="#mentor-add-artifact-name" required>
    <label for="#mentor-add-artifact-description">Description</label>
    <textarea name="description" id="#mentor-add-artifact-description" required></textarea>
    <label for="#mentor-add-artifact-price">Price</label>
    <input type="number" name="price" id="#mentor-add-artifact-price" required min="0">
    <label for="#mentor-add-artifact-category">Choose artifact category</label>
    <select name="category_id" id="#mentor-add-artifact-category">
        {% for category in artifact_categories %}
        <option value="{{category.getId()}}">{{category.getName()}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>