<form method="post">
    <label for="#mentor-update-quest-choose-quest">Choose quest</label>
    <select name="quest_id" id="#mentor-update-quest-choose-quest">
        {% for quest in quests %}
            <option value="{{quest.getId()}}">{{quest.getName()}}</option>
        {% endfor %}
    </select>
    <label for="#mentor-update-quest-new-quest-category">Choose new quest category</label>
    <select name="category_id" id="#mentor-update-quest-new-quest-category">
        {% for category in quest_categories %}
            <option value="{{category.getId()}}">{{category.getName()}}</option>
        {% endfor %}
    </select>
    <label for="#mentor-update-quest-new-name">Name</label>
    <input type="text" name="quest_name" id="#mentor-update-quest-new-name" required>
    <label for="#mentor-update-quest-new-value">Value</label>
    <input type="number" name="value" id="#mentor-update-quest-new-value" required min="1">
    <label for="#mentor-update-quest-new-description">Description</label>
    <input type="text" name="description" id="#mentor-update-quest-new-description" required>
    <input type="submit" value="Submit">
</form>