<form method="post">
    <label for="#mentor-add-quest-quest-category">Choose quest category</label>
    <select name="category_id" id="#mentor-add-quest-quest-category">
        {% for category in quest_categories %}
            <option value="{{category.getId()}}">{{category.getName()}}</option>
        {% endfor %}
    </select>
    <label for="#mentor-add-quest-quest-name">Quest name</label>
    <input type="text" name="quest_name" id="#mentor-add-quest-quest-name" required>
    <label for="#mentor-add-quest-value">Value</label>
    <input type="number" name="quest_value" id="#mentor-add-quest-value" required min="1">
    <label for="#mentor-add-quest-description">Description</label>
    <input type="text" name="description" id="#mentor-add-quest-description" required>
    <input type="submit" value="Submit">
</form>