<div class="options">
    <div class="option">
        <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
        <a href="/mentor/add_artifact">Add artifact</a>
    </div>
    <div class="option">
        <i class="fa fa-asterisk fa-3x" aria-hidden="true"></i>
        <a href="/mentor/add_artifact_category">Add artifact category</a>
    </div>
    <div class="option">
        <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
        <a href="/mentor/update_artifact">Update artifact</a>
    </div>
    <div class="option">
        <i class="fa fa-refresh fa-3x" aria-hidden="true"></i>
        <a href="/mentor/show_available_artifacts">Show available artifacts</a>
    </div>
    <div class="option">
        <i class="fa fa-check-square-o fa-3x" aria-hidden="true"></i>
        <a href="/mentor/mark_bought_artifact_as_used">Mark bought artifact as used</a>
    </div>
</div>