<form method="post">
    <label for="#mentor-mark-bought-artifact-choose-student">Choose Student</label>
    <select name="choose-students" id="#mentor-mark-bought-artifact-choose-student">
        {% for student in students %}
            <option value="{{student.getId()}}">{{student.getName()}}</option>
        {% endfor %}
    </select>
    <label for="#mentor-mark-bought-artifact-choose-artifact">Choose student artifact</label>
    <select name="artifact" id="#mentor-mark-bought-artifact-choose-artifact">
        {% for artifact in artifacts %}
            <option value="{{artifact.getId()}}">{{artifact.getName()}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Submit">
</form>