<form method="post">
    <label for="#mentor-update-quest-choose-quest">Choose quest</label>
    <select name="quest_id" id="#mentor-update-quest-choose-quest" autofocus>
        <option disabled selected value>choose quest</option>
        {% for quest in quests %}
            <option value="{{quest.getId()}}">{{quest.getName()}}</option>
        {% endfor %}
    </select>
    <label for="#mentor-update-quest-new-quest-category">Choose new quest category</label>
    <select name="category_id" id="#mentor-update-quest-new-quest-category">
        <option disabled selected value> choose category </option>
        {% for category in quest_categories %}
            <option value="{{category.getId()}}">{{category.getName()}}</option>
        {% endfor %}
    </select>
    <label for="#mentor-update-quest-new-name">Name</label>
    <input type="text" name="quest_name" id="#mentor-update-quest-new-name" required>
    <label for="#mentor-update-quest-new-value">Value</label>
    <input type="number" name="value" id="#mentor-update-quest-new-value" required min="1">
    <label for="#mentor-add-quest-value" id="#max-value-label">Max value</label>
    <input type="number" name="max_value" id="#mentor-update-quest-new-maxvalue" required>
    <label for="#is-ranged-true">Is ranged</label>
    <div class="inline"><input type="radio" name="is-ranged" id="#is-ranged-true"> Ranged</div>
    <div class="inline"><input type="radio" name="is-ranged" id="#is-ranged-false" checked> Not ranged</div>
    <label for="#mentor-update-quest-new-description">Description</label>
    <textarea name="description" id="#mentor-update-quest-new-description" required></textarea>
    <input type="submit" value="Submit">
</form>

<script src="/static/js/update_quest.js"></script>