<div class="options">
    <div class="option">
        <i class="fa fa-plus" aria-hidden="true"></i>
        <a href="/mentor/add_quest">Add quest</a>
    </div>
    <div class="option">
        <i class="fa fa-asterisk" aria-hidden="true"></i>
        <a href="/mentor/add_quest_category">Add quest category</a>
    </div>
    <div class="option">
        <i class="fa fa-refresh" aria-hidden="true"></i>
        <a href="/mentor/update_quest">Update quest</a>
    </div>
    <div class="option">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
        <a href="/mentor/approve_quest_achievement">Approve quest achievement</a>
    </div>
</div>