<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Category</th>
        </tr>
    </thead>
    <tbody>
        {% for artifact in available_artifacts %}
        <tr>
            <td>{{ artifact.getId() }}</td>
            <td>{{ artifact.getName() }}</td>
            <td>{{ artifact.getPrice() }}</td>
            <td>{{ artifact.getArtifactCategoryName() }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>