<div class="options">
    <div class="option">
        <i class="fa fa-user-plus fa-3x" aria-hidden="true"></i>
        <a href="/mentor/add_student">Add student</a>
    </div>
    <div class="option">
        <i class="fa fa-money" aria-hidden="true"></i>
        <a href="/mentor/list_students_wallets">List students wallets</a>
    </div>
</div>