<div class="options">
    <div class="option">
        <i class="fa fa-navicon fa-3x" aria-hidden="true"></i>
        <a href="/student/show_available_artifacts">Show available artifacts</a>
    </div>
    <div class="option">
        <i class="fa fa-cart-plus fa-3x" aria-hidden="true"></i>
        <a href="/student/buy_artifact">Buy artifact</a>
    </div>
    <div class="option">
        <i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i>
        <a href="/student/available_contributions">Available contributions</a>
    </div>
    <div class="option">
        <i class="fa fa-plus-square fa-3x" aria-hidden="true"></i>
        <a href="/student/create_contribution">Create contribution</a>
    </div>
    <div class="option">
        <i class="fa fa-window-close fa-3x" aria-hidden="true"></i>
        <a href="/student/close_contribution">Close contribution</a>
    </div>
</div>