<div class="options">
    <div class="option">
        <i class="fa fa-signal fa-3x" aria-hidden="true"></i>
        <a href="/student/show_available_artifacts">Show available artifacts</a>
    </div>
    <div class="option">
        <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
        <a href="/student/buy_artifact">Buy artifact</a>
    </div>
    <div class="option">
        <i class="fa fa-signal fa-3x" aria-hidden="true"></i>
        <a href="/student/contributions/available_contributions">Available contributions</a>
    </div>
    <div class="option">
        <i class="fa fa-signal fa-3x" aria-hidden="true"></i>
        <a href="/student/contributions/create_contribution">Create contribution</a>
    </div>
    <div class="option">
        <i class="fa fa-plus fa-3x" aria-hidden="true"></i>
        <a href="/student/contributions/close_contribution">Close contribution</a>
    </div>
</div>