<form>
    <label for="mentor">Mentor:</label>
    <select id="mentor">
        {% for mentor in mentors %}
            <option value="{{mentor.getLogin()}}">{{mentor.getLogin()}}</option>
        {% endfor %}
    </select>
    <input type="submit" value="choose">
</form>